@model iCopy.Model.Response.Country
@inject SharedResource _localizer
@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@_sharedLocalizer.EditCountry</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-area="location" asp-controller="country" asp-action="update" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" ajax-modal-form="true" asp-antiforgery="true">
    <div class="modal-body">
        <div class="form-group">
            <label>@_localizer.Name:</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="@_localizer.Name">
            <span asp-validation-for="Name" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label>@_localizer.ShortName:</label>
            <input asp-for="ShortName" type="text" class="form-control" placeholder="@_localizer.ShortName">
            <span asp-validation-for="ShortName" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label>@_localizer.PhoneCode:</label>
            <input asp-for="PhoneNumberCode" type="number" class="form-control" placeholder="@_localizer.PhoneCode">
            <span asp-validation-for="PhoneNumberCode" class="form-text text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-3 col-form-label">@_localizer.Active:</label>
            <div class="col-md-12">
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input type="checkbox" asp-for="Active">
                        <span></span>
                    </label>
                </span>
            </div>
            <span asp-validation-for="Active" class="form-text text-danger"></span>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer.Close</button>
        <button type="submit" class="btn btn-primary">@_localizer.SaveChanges</button>
    </div>
</form>